{% extends 'layout.html' %}
{% block content %}

    <h1>About Us</h1>
    <br>
    <legend>LazyLoad is the brain child of the four of us. We felt a dire need of an online school management system which connects all aspects necessary pertaining to the running of the school. With automation taking over, we sought out to decipher the answer to this problem via the fundamentals of programming we acquired. After thorough discussion and research we decided to include the various operations for each user domain.</legend>
    <br>
    <legend>A lot of thought has gone into the dynamics of this portal. The design is intended to be as ergonomic and user-friendly as possible. Convenience is also a factor in deciding the placement of different forms, and to save as much time as possible</legend>
    <br>
    <legend>So use this tool to maximize it’s potential, and to make different tasks of your everyday school life as simple to manage as possible!</legend>
    <br>
    <br>
    <br>


{% endblock content %}