{% extends 'layout.html' %}
{% block content %}

    <div class="content">
        <ul class="main-ul">

            <ul class="week 1">
            <h1>Courses Offered</h1>
                <ul>

                    <li>
                        <legend>Applied Physics</legend>
                    </li>
                    <li>
                        <legend>Discrete Maths</legend>
                    </li>
                    <li>
                        <legend>Calculus and Analytic Geometry</legend>
                    </li>
                    <li>
                        <legend>Islamiat</legend>
                    </li>
                    <li>
                        <legend>Fundamentals of Programming</legend>
                    </li>
                    <li>
                        <legend>English</legend>
                    </li>

                </ul>

            </ul>
        </div>

{% endblock %}