{% extends 'teacher.html' %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Marks</th>

    </tr>
  </thead>


    <form action="/displayspringtest" method="post">
    {% for i in range(0,num): %}
    <tr>
        <td>{{ student_name_list[i] }}</td>

        <td><input type="number" min="0" max="50" value="" required name={{"springmarks{}".format(i)}}></td>

    </tr>
    {% endfor %}


  </tbody>
</table>
    <input type="submit" value="Submit">
    </form>
{% endblock content %}


</html>
