{% extends 'layout.html' %}
{% block content %}
    <div class="content">
        <ul class="main-ul">
       <div class="week 1">
            <ul class="week 1">
            <li><h1>Week 1</h1>
                <ul>
                    <li><legend>Monday</legend>
                        <ul>
                            <li>Frictional force</li>
                        </ul>
                    </li>
                    <li><legend>Tuesday</legend>
                        <ul>
                            <li> Work Energy Power</li>
                        </ul>

                    </li>
                    <li><legend>Wednesday</legend>
                        <ul>
                            <li>Moment of Inertia </li>
                        </ul>
                    </li>
                    <li><legend>Thursday</legend>
                        <ul>
                                <li>Gauss' Law </li>
                        </ul>

                    </li>
                    <li><legend>Friday</legend>
                        <ul>
                            <li>Ampere's Law</li>
                        </ul>
                    </li>
                </ul>
            </li>
            </ul>
        </div>
        <div class="week 2">
            <ul class="week 2">
             <li><h1>Week 2</h1>
                <ul>
                    <li><legend>Monday</legend>
                        <ul>
                            <li>Propositional logic</li>
                       </ul>
                    </li>
                <li><legend>Tuesday</legend>
                    <ul>
                        <li> Functions</li>
                    </ul>

                </li>
                <li><legend>Wednesday</legend>
                    <ul>
                        <li>Matrices </li>
                    </ul>
                </li>
                <li><legend>Thursday</legend>
                    <ul>
                        <li>Algorithms </li>
                    </ul>

                </li>
                <li><legend>Friday</legend>
                    <ul>
                        <li>Graphs</li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="week 3">
            <ul class="week 3">
            <li><h1>Week 3</h1>
                <ul>
                <li><legend>Monday</legend>
                    <ul>
                        <li>Conditional statements</li>
                    </ul>
                </li>
                <li><legend>Tuesday</legend>
                    <ul>
                        <li> Loops</li>
                    </ul>

                </li>
                <li><legend>Wednesday</legend>
                    <ul>
                        <li>Functions </li>
                    </ul>
                </li>
                <li><legend>Thursday</legend>
                    <ul>
                        <li>File handling </li>
                    </ul>

                </li>
                <li><legend>Friday</legend>
                    <ul>
                        <li>GUIs</li>
                    </ul>
                </li>
                </ul>
            </li>
            </ul>

    </div>
    </ul>
</div>
{% endblock content %}